
  <% sorted_articles.first(@config[:home_posts]).each do |post| %>
          <!-- Blog Post -->
          <div class="card mb-4">
            <img class="card-img-top" src="<%= relative_path_to(post) %>/<%= post[:image_file] %>" alt="<%= post[:image_alt] %>">
            <div class="card-body">
              <h2 class="card-title"><%= post[:title] %></h2>
              <p class="card-text"><%= post[:short_description] %></p>
              <a href="<%= relative_path_to(post)%>" class="btn btn-primary">Leia mais &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              <em><%= post[:created_at].strftime('%d/%m/%Y') %></em>
              <a href="#"><%= post[:author] %></a>
            </div>
          </div>
  <% end %>

          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>
