<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= [@config[:title], @item[:title]].compact.join(" — ") %></title>
    <meta name="description" content="<%= [@item[:short_description], @config[:description]].compact.join(' ').gsub("\n", " ") %>">
    <meta name="author" content="<%= @config[:author] %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/blog-home.css" rel="stylesheet">
    <link href="/css/paulo.css" rel="stylesheet">

  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="<%= @config[:base_url] %>">Curitiba Livre</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="<%= @config[:base_url] %>">Início
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/quem-somos/">Quem somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.flickr.com/photos/curitibalivre/albums">Fotos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contatos/">Contatos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Blog
            <small>Notícias</small>
          </h1>
  
       <% if @item[:kind] == 'article' %>
          <%= render '/post-header.*', post: @item %>
        <% else %>
          <h1><%= @item[:title] %></h1>
        <% end %>

        <%= yield %>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Links</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-10">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="http://phls.com.br/blog/eventos-de-software-livre-em-2018">Eventos de Software Livre</a>
                    </li>
                    <li>
                      <a href="/eventos-locais/">Eventos em Curitiba</a>
                    </li>
                    <li>
                      <a href="/eventos-passados/">Eventos passados</a>
                    </li>
                    <li>
                      <a href="/comunidades/">Comunidades locais</a>
                    </li>
                    <li>
                      <a href="/blog/videos-sobre-software-livre-e-gnulinux/">Vídeos Sobre Software Livre</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Web Design</a>
                    </li>
                    <li>
                      <a href="#">HTML</a>
                    </li>
                    <li>
                      <a href="#">Freebies</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">JavaScript</a>
                    </li>
                    <li>
                      <a href="#">CSS</a>
                    </li>
                    <li>
                      <a href="#">Tutorials</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white"><%= @config[:copyright] %></p>
        <p class="m-0 text-center text-white"><%= @config[:site_copyright] %></p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
