<div class='post-header'>
  <% if @post == @item %>
    <h2><%= @post[:title] %></h2>
  <% else %>
    <h2><%= link_to(@post[:title], @post) %></h2>
  <% end %>
  <p>
  Publicado em <%= @post[:created_at].strftime('%d/%m/%Y') %>.
  </p>
</div>
<p></p>
